<div class="row">
	<div class="title" style="font-size:18px">
		&nbsp;#{-name}<br>
		<table border=0 style="font-size:13px">
			<tr>
				<td width=20>&nbsp;</td><td width=50>Reven:</td><td width=60 align=right>$#{-revenue}</td>
				<td width=20>&nbsp;</td><td width=50>Requ:</td><td width=60 align=right>#{-requests}</td>
			</tr>
			<tr>
				<td width=20>&nbsp;</td><td width=50>eCPM:</td><td width=60 align=right>$#{-ecpm}</td>
				<td width=20>&nbsp;</td><td width=50>Fill-R:</td><td width=60 align=right>#{-fillrate}%</td>
			</tr>
		</table>
	</div>
</div>
