<div class="row">
	<div class="title" style="font-size:18px">
		&nbsp;#{-name}<br>
		<table border=0 style="font-size:13px">
			<tr>
				<td width=20>&nbsp;</td><td width=50>Impress:</td><td width=60 align=right>#{-impressions}</td>
				<td width=20>&nbsp;</td><td width=50>Clicks:</td><td width=60 align=right>#{-clicks}</td>
			</tr>
			<tr>
				<td width=20>&nbsp;</td><td width=50>eCPM:</td><td width=60 align=right>$#{-ecpm}</td>
				<td width=20>&nbsp;</td><td width=50>CTR:</td><td width=60 align=right>#{-ctr}%</td>
			</tr>
		</table>
	</div>
</div>
